<link rel="stylesheet" href="/css/signin.css">

<section>
    <div>
        <div class="main-conteiner">
            <div class="form-conteiner">
                <h1>
                    Sign In
                </h1>
                <form action="/signin" method="POST">
                    <div>
                        <h5>
                            EMAIL
                        </h5>
                        <input name="email" type="email" placeholder="Type your email account" spellcheck="false" autofocus autocomplete="off">
                    </div>
                    <div>
                        <h5>
                            PASSWORD
                        </h5>
                        <input name="password" type="password" placeholder="Type your password" spellcheck="false">
                    </div>
                    {{#if message}}
                        <div class="message-error active">
                        <i class="fas fa-exclamation-triangle "></i>
                        <span>
                            {{message}}
                        </span>
                    </div>
                    {{/if}}
                    <button type="submit" class="btn-submmit">
                        Send
                    </button>
                </form>
            </div>
            <div class="img-conteiner">
            </div>
        </div>
    </div>
</section>

<script src="/script/signin.js"></script>