<nav>
    <div>
        {{!-- href h1 --}}
        <div>
            <a href="/">
            <h1>
                <img src="/assets/nota.png" alt="">
                SIMULACROS
            </h1>
        </a>
        </div>
        <div>
            <ul>
            {{!-- link login --}}
            <li>
                <a href="/signin">
                    <i class="fas fa-sign-in-alt"></i>
                    Login
                </a>
            </li>
            {{!-- link signup --}}
            <li>
                <a href="/signup">
                    <button type="button">
                        Start Free
                    </button>
                </a>
            </li>
        </ul>
        </div>
    </div>
</nav>

